
.card1{
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
    align-items: center;
    

   
}

.tolbar{
    
    text-align: center;
    margin-bottom: 5%;

}


.button{
   padding: 4%;
   justify-content: space-around;
}

