<mat-card  class="card1">
 
  
    
  <mat-toolbar class="tolbar" color="primary">
    Cadastrar Livros
  </mat-toolbar>

  <mat-card-content class="cardForm" >

<form [formGroup]="form" class="forms">

  <mat-label>Titulo</mat-label>
    <input matInput formControlName="titulo" placeholder="Titulo do Livro" required>

    <mat-label>Autor</mat-label>
    <input matInput formControlName="autor" required>

    <mat-label>Ano</mat-label>
    <input matInput formControlName="ano_publicacao" required>

 

</form>

</mat-card-content>
<mat-card-actions class="button">
  
  <button mat-raised-button color="primary" class="action-button"  (click)="onSubmit()">Salvar</button>

  <button mat-raised-button color="accent" class="action-button"  (click)="btnCancel()">Cancelar</button>
</mat-card-actions>

</mat-card>
